<a href="https://colab.research.google.com/github/lzysh9506/gt_project/blob/main/gt_account_from_mt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

# If the file is uploaded to Colab
data55 = pd.read_excel('/content/5507025_0721.xlsx')
data56 = pd.read_excel('/content/5607025_0721.xlsx')
data_compensation_55 = pd.read_excel('/content/5507025_comp_0721.xlsx')
account_a = '5507025'
account_b = '5607025'
filter_date = '2023-06-01'
current_date = datetime.now()
formatted_date = current_date.strftime("%m%d")
print(formatted_date)

0723

In [ ]:
data55.head(10)

,Time,Position,Symbol,Type,Volume,Price,S / L,T / P,Time.1,Price.1,Commission,Swap,Profit
0,2022.12.29 20:23:51,1491003,XAUUSD.p,buy,0.4,1819.59,1813.59,1826.59,2022.12.30 03:15:27,1816.79,-2.8,-5.63,-112.0
1,2022.12.30 03:19:49,1491858,XAUUSD.p,sell,0.4,1816.16,1822.16,1809.16,2022.12.30 09:03:05,1822.16,-2.8,0.00,-240.0
2,2022.12.30 17:27:00,1508045,XAUUSD.p,buy,0.4,1818.47,1812.47,1825.47,2022.12.30 20:04:19,1825.47,-2.8,0.00,280.0
3,2023.01.03 02:57:09,1514381,XAUUSD.p,sell,0.4,1830.41,1836.41,1823.41,2023.01.03 04:43:24,1836.41,-2.8,0.00,-240.0
4,2023.01.03 05:29:54,1522392,XAUUSD.p,sell,0.4,1841.82,1847.82,1834.82,2023.01.03 09:30:16,1847.82,-2.8,0.00,-240.0
5,2023.01.03 09:47:10,1529947,XAUUSD.p,buy,0.4,1848.30,1842.30,1855.30,2023.01.03 10:18:59,1842.30,-2.8,0.00,-240.0
6,2023.01.03 12:14:12,1538584,XAUUSD.p,buy,0.4,1839.32,1833.32,1846.32,2023.01.03 13:12:23,1833.32,-2.8,0.00,-240.0
7,2023.01.03 13:56:22,1542896,XAUUSD.p,sell,0.4,1832.24,1838.24,1825.24,2023.01.03 15:16:26,1838.24,-2.8,0.00,-240.0
8,2023.01.03 16:44:12,1552459,XAUUSD.p,buy,0.4,1848.59,1842.59,1855.59,2023.01.03 17:01:08,1842.59,-2.8,0.00,-240.0
9,2023.01.03 17:17:56,1557281,XAUUSD.p,sell,0.4,1838.83,1844.83,1831.83,2023.01.03 17:32:02,1831.83,-2.8,0.00,280.0

In [ ]:
def trade_df_filter(df_name, filter_date):
  df_name.columns = ['TIME_IN', 'TICKET', 'SYMBOL', 'TYPE', 'VOLUME', 'PRICE_IN', 'SL', 'TP', 'TIME_OUT', 'PRICE_OUT', 'COMMISION', 'SWAP', 'PROFIT']
  df_name['TIME_IN'] = pd.to_datetime(df_name['TIME_IN'])
  df_name['TIME_OUT'] = pd.to_datetime(df_name['TIME_OUT'])
  specific_date = pd.to_datetime(filter_date)
  filtered_df = df_name[df_name['TIME_IN'] > specific_date]
  filtered_df['TYPE'] = filtered_df['TYPE'].replace({'buy': 0, 'sell': 1})
  filtered_df = filtered_df.dropna(axis=1, how='all')
  return filtered_df

def compensation_df_filter(df_name, filter_date):
  df_name.columns = ['TIME_IN', 'DEAL', 'SYMBOL', 'TYPE', 'DIRECTION', 'VOLUME', 'PRICE', 'TICKET', 'COMMISION', 'FEE', 'SWAP', 'PROFIT', 'BALANCE', 'COMMENT']
  df_name['TIME_IN'] = pd.to_datetime(df_name['TIME_IN'])
  specific_date = pd.to_datetime(filter_date)
  filtered_df = df_name[df_name['TIME_IN'] > specific_date]
  filtered_df['TYPE'] = filtered_df['TYPE'].replace({'buy': 0, 'sell': 1, 'balance': 2})
  filtered_df = filtered_df.dropna(axis=1, how='all')
  return filtered_df

In [ ]:
df55 = trade_df_filter(data55, filter_date)
df55.head()

<ipython-input-3-d621907bfb84>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['TYPE'] = filtered_df['TYPE'].replace({'buy': 0, 'sell': 1})

,TIME_IN,TICKET,SYMBOL,TYPE,VOLUME,PRICE_IN,SL,TP,TIME_OUT,PRICE_OUT,COMMISION,SWAP,PROFIT
444,2023-06-01 04:54:02,9703557,XAUUSD.p,0,1.2,1964.24,1958.24,1971.24,2023-06-01 10:11:40,1958.24,-8.4,0.0,-720.0
445,2023-06-01 10:38:29,9718857,XAUUSD.p,1,1.2,1955.82,1961.82,1948.82,2023-06-01 13:20:01,1961.82,-8.4,0.0,-720.0
446,2023-06-01 14:48:21,9738372,XAUUSD.p,0,1.2,1967.74,1961.74,1974.74,2023-06-01 15:17:11,1961.74,-8.4,0.0,-720.0
447,2023-06-01 15:25:47,9744324,XAUUSD.p,1,1.2,1960.75,1966.75,1953.75,2023-06-01 15:39:59,1966.75,-8.4,0.0,-720.0
448,2023-06-01 16:51:13,9763031,XAUUSD.p,1,1.2,1972.86,1978.86,1965.86,2023-06-01 18:07:58,1978.86,-8.4,0.0,-720.0

In [ ]:
df56 = trade_df_filter(data56, filter_date)
df56.head()

<ipython-input-3-d621907bfb84>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['TYPE'] = filtered_df['TYPE'].replace({'buy': 0, 'sell': 1})

,TIME_IN,TICKET,SYMBOL,TYPE,VOLUME,PRICE_IN,SL,TP,TIME_OUT,PRICE_OUT,COMMISION,SWAP,PROFIT
446,2023-06-01 04:54:03,9703558,XAUUSD,1,1.05,1963.87,1971.44,1958.44,2023-06-01 10:11:44,1958.44,0,0.0,570.15
447,2023-06-01 10:38:30,9718864,XAUUSD,0,1.05,1956.05,1948.62,1961.82,2023-06-01 13:20:14,1961.82,0,0.0,605.85
448,2023-06-01 14:48:21,9738373,XAUUSD,1,1.05,1967.42,1974.94,1961.94,2023-06-01 15:17:12,1961.94,0,0.0,575.40
449,2023-06-01 15:23:04,9743392,XAUUSD,0,1.05,1960.61,NaN,NaN,2023-06-01 15:25:25,1959.28,0,0.0,-139.65
450,2023-06-01 15:25:51,9744341,XAUUSD,0,1.05,1960.80,1953.55,1966.55,2023-06-01 15:40:01,1966.55,0,0.0,603.75

In [ ]:
df_comp = compensation_df_filter(data_compensation_55, filter_date)
df_comp.head(15)

<ipython-input-3-d621907bfb84>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['TYPE'] = filtered_df['TYPE'].replace({'buy': 0, 'sell': 1, 'balance': 2})

,TIME_IN,DEAL,SYMBOL,TYPE,DIRECTION,VOLUME,PRICE,TICKET,COMMISION,FEE,SWAP,PROFIT,BALANCE,COMMENT
2977,2023-06-01 02:20:15,23174742,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,189.68,1819.99,[daily refund:20230510]
2978,2023-06-01 02:20:15,23174744,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,294.53,2114.52,[daily refund:20230511]
2979,2023-06-01 02:20:15,23174746,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,51.98,2166.50,[daily refund:20230512]
2980,2023-06-01 02:20:15,23174748,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,51.98,2218.48,[daily refund:20230517]
2981,2023-06-01 02:20:15,23174750,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,157.57,2376.05,[daily refund:20230518]
2982,2023-06-01 02:20:15,23174752,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,103.95,2480.00,[daily refund:20230519]
2983,2023-06-01 02:20:15,23174754,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,103.95,2583.95,[daily refund:20230522]
2984,2023-06-01 02:20:15,23174756,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,207.90,2791.85,[daily refund:20230524]
2985,2023-06-01 02:20:15,23174758,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,155.93,2947.78,[daily refund:20230526]
2986,2023-06-01 02:20:15,23174760,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,51.98,2999.76,[daily refund:20230529]
2987,2023-06-01 02:20:16,23174762,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,155.93,3155.69,[daily refund:20230530]
2988,2023-06-01 04:54:02,23232705,XAUUSD.p,0,in,1.2,1964.24,9703557.0,0.0,0,0.0,0.00,3155.69,[sorder]
2989,2023-06-01 10:11:40,23243843,XAUUSD.p,1,out,1.2,1958.24,9711953.0,-8.4,0,0.0,-720.00,2427.29,[sl 1958.24]
2990,2023-06-01 10:38:29,23255402,XAUUSD.p,1,in,1.2,1955.82,9718857.0,0.0,0,0.0,0.00,2427.29,[sorder]
2991,2023-06-01 10:52:51,23257005,NaN,2,NaN,NaN,NaN,NaN,0.0,0,0.0,218.52,2645.81,[loss compensation:#9703557]

In [ ]:
from google.colab import auth
import sys

auth.authenticate_user()

!{sys.executable} -m pip install cloud-sql-python-connector["pymysql"] SQLAlchemy==2.0.7

Collecting cloud-sql-python-connector[pymysql]
  Downloading cloud_sql_python_connector-1.3.0-py2.py3-none-any.whl (36 kB)
Collecting SQLAlchemy==2.0.7
  Downloading SQLAlchemy-2.0.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 10.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==2.0.7) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==2.0.7) (2.0.2)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector[pymysql]) (3.8.4)
Collecting cryptography>=38.0.3 (from cloud-sql-python-connector[pymysql])
  Downloading cryptography-41.0.2-cp37-abi3-manylinux_2_28_x86_64.whl (4.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.3/4.3 MB 23.8 MB/s eta 0:00:00
Requirement already satisfied: Requests in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector[pymysql]) (2.27.1)
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector[pymysql]) (2.17.3)
Collecting PyMySQL==1.1.0 (from cloud-sql-python-connector[pymysql])
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=38.0.3->cloud-sql-python-connector[pymysql]) (1.15.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector[pymysql]) (1.3.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->cloud-sql-python-connector[pymysql]) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->cloud-sql-python-connector[pymysql]) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->cloud-sql-python-connector[pymysql]) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->cloud-sql-python-connector[pymysql]) (4.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector[pymysql]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector[pymysql]) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector[pymysql]) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=38.0.3->cloud-sql-python-connector[pymysql]) (2.21)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->cloud-sql-python-connector[pymysql]) (0.5.0)
Installing collected packages: SQLAlchemy, PyMySQL, cryptography, cloud-sql-python-connector
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.19
    Uninstalling SQLAlchemy-2.0.19:
      Successfully uninstalled SQLAlchemy-2.0.19
  Attempting uninstall: cryptography
    Found existing installation: cryptography 3.4.8
    Uninstalling cryptography-3.4.8:
      Successfully uninstalled cryptography-3.4.8
Successfully installed PyMySQL-1.1.0 SQLAlchemy-2.0.7 cloud-sql-python-connector-1.3.0 cryptography-41.0.2

In [ ]:
INSTANCE_CONNECTION_NAME = f"adept-arbor-221620:asia-east2:goodtrade" # i.e demo-project:us-central1:demo-instance
print(f"Your instance connection name is: {INSTANCE_CONNECTION_NAME}")
DB_USER = "lzy"
DB_PASS = "Liux9506"
DB_NAME = "gt_history"

Your instance connection name is: adept-arbor-221620:asia-east2:goodtrade

In [ ]:
from google.cloud.sql.connector import Connector
import sqlalchemy

# initialize Connector object
connector = Connector()

cnx = connector.connect(
        INSTANCE_CONNECTION_NAME,
        "pymysql",
        user=DB_USER,
        password=DB_PASS,
        db=DB_NAME
    )

cursor = cnx.cursor()

In [ ]:
def create_trade_table(table_name, column_def):
  # Create the table query
  create_table_query = f'CREATE TABLE {table_name} ({column_def})'

  # Execute the create table query
  cursor.execute(create_table_query)

def insert_trade_values(table_name, df_name, column_name):
  data_to_insert = df_name[column_name].values.tolist()
  column_str = ', '.join(column_name)
  insert_query = f"INSERT INTO {table_name} ({column_str}) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

  # Execute the INSERT query
  cursor.executemany(insert_query, data_to_insert)

  # Commit the changes
  cnx.commit()

def create_compensation_table(table_name, column_def):
  # Create the table query
  create_table_query = f'CREATE TABLE {table_name} ({column_def})'

  # Execute the create table query
  cursor.execute(create_table_query)

def insert_compensation_values(table_name, df_name, column_name):
  data_to_insert = df_name[column_name].values.tolist()
  column_str = ', '.join(column_name)
  insert_query = f"INSERT INTO {table_name} ({column_str}) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

  # Execute the INSERT query
  cursor.executemany(insert_query, data_to_insert)

  # Commit the changes
  cnx.commit()

In [ ]:
trade_column_name = ['TIME_IN', 'TICKET', 'SYMBOL', 'TYPE', 'VOLUME', 'PRICE_IN', 'SL', 'TP', 'TIME_OUT', 'PRICE_OUT', 'COMMISION', 'SWAP', 'PROFIT']
trade_column_def = 'TIME_IN datetime, TICKET bigint, TYPE int, VOLUME double, SYMBOL VARCHAR(255), PRICE_IN double, TIME_OUT datetime, PRICE_OUT double, SL double, TP double, COMMISION double, SWAP double, PROFIT double, COMMENT bigint'
comp_column_name = ['TIME_IN', 'DEAL', 'SYMBOL', 'TYPE', 'DIRECTION', 'VOLUME', 'PRICE', 'TICKET', 'COMMISION', 'FEE', 'SWAP', 'PROFIT', 'BALANCE', 'COMMENT']
comp_column_def = 'TIME_IN datetime, DEAL bigint, SYMBOL VARCHAR(255), TYPE int, DIRECTION VARCHAR(255), VOLUME double, PRICE double, TICKET bigint, COMMISION double, FEE double, SWAP double, PROFIT double, BALANCE double, COMMENT VARCHAR(255)'


table_name_a = 'trade_{account_a}_{formatted_date}'.format(account_a = account_a, formatted_date = formatted_date)
create_trade_table(table_name_a, trade_column_def)
insert_trade_values(table_name_a, df55.fillna(0), trade_column_name)

table_name_b = 'trade_{account_b}_{formatted_date}'.format(account_b = account_b, formatted_date = formatted_date)
create_trade_table(table_name_b, trade_column_def)
insert_trade_values(table_name_b, df56.fillna(0), trade_column_name)

table_comp_name = 'comp_{account_a}_{formatted_date}'.format(account_a = account_a, formatted_date = formatted_date)
create_compensation_table(table_comp_name, comp_column_def)
insert_compensation_values(table_comp_name, df_comp.fillna(0), comp_column_name)

In [ ]:
query = "SELECT * FROM {table_name_a} limit 5".format(table_name_a = table_comp_name)
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()
for row in results:
    print(row)

(datetime.datetime(2023, 6, 1, 2, 20, 15), 23174742, '0', 2, '0', 0.0, 0.0, 0, 0.0, 0.0, 0.0, 189.68, 1819.99, '[daily refund:20230510]')
(datetime.datetime(2023, 6, 1, 2, 20, 15), 23174744, '0', 2, '0', 0.0, 0.0, 0, 0.0, 0.0, 0.0, 294.53, 2114.52, '[daily refund:20230511]')
(datetime.datetime(2023, 6, 1, 2, 20, 15), 23174746, '0', 2, '0', 0.0, 0.0, 0, 0.0, 0.0, 0.0, 51.98, 2166.5, '[daily refund:20230512]')
(datetime.datetime(2023, 6, 1, 2, 20, 15), 23174748, '0', 2, '0', 0.0, 0.0, 0, 0.0, 0.0, 0.0, 51.98, 2218.48, '[daily refund:20230517]')
(datetime.datetime(2023, 6, 1, 2, 20, 15), 23174750, '0', 2, '0', 0.0, 0.0, 0, 0.0, 0.0, 0.0, 157.57, 2376.05, '[daily refund:20230518]')

In [ ]:
query = '''
select
  a.TIME_IN as TIME_IN_A, a.TICKET as TICKET_A, a.TYPE as TYPE_A, a.VOLUME as VOLUME_A, a.PRICE_IN as PRICE_IN_A, a.PRICE_OUT as PRICE_OUT_A, a.COMMISION as COMMISION_A, a.SWAP as SWAP_A, (a.PRICE_OUT - a.PRICE_IN)*100 as SPREAD_A, a.PROFIT as PROFIT_A,
  b.TIME_IN as TIME_IN_B, b.TICKET as TICKET_B, b.TYPE as TYPE_B, b.VOLUME as VOLUME_B, b.PRICE_IN as PRICE_IN_B, b.PRICE_OUT as PRICE_OUT_B, b.SWAP as SWAP_B, (b.PRICE_OUT - b.PRICE_IN)*100 as SPREAD_B, b.PROFIT as PROFIT_B,
  COALESCE(comp1.COMPENSATION, 0) as COMPENSATION,
  case when b.PROFIT is null then a.PROFIT + a.COMMISION + a.SWAP
  when a.PROFIT < 0 and b.PROFIT > 0 then (a.PROFIT + a.COMMISION + a.SWAP) + (b.PROFIT + b.SWAP) + COALESCE(comp1.COMPENSATION, 0)
  else a.PROFIT + a.COMMISION + a.SWAP + (b.PROFIT + b.SWAP) end as FINAL_PROFIT
from
(
  select *, UNIX_TIMESTAMP(TIME_IN) as ts
  from {table_name_a}
)as a
left join
(
  select *, UNIX_TIMESTAMP(TIME_IN) as ts
  from {table_name_b}
)as b
on abs(a.TICKET - b.TICKET) <= 30 or abs(a.ts - b.ts) <= 2*60
left join
(
  select UNIX_TIMESTAMP(TIME_IN) as ts, PROFIT as COMPENSATION, CAST(REGEXP_SUBSTR(COMMENT, '[0-9]+') AS UNSIGNED) as COMPENSATE_TRADE_ID
  from {table_comp_name}
  where COMMENT like '%compensation%'
) as comp1
on comp1.COMPENSATE_TRADE_ID = a.TICKET
union
select
  c.TIME_IN as TIME_IN_A, c.TICKET as TICKET_A, c.TYPE as TYPE_A, c.VOLUME as VOLUME_A, c.PRICE_IN as PRICE_IN_A, c.PRICE_OUT as PRICE_OUT_A, c.COMMISION as COMMISION_A, c.SWAP as SWAP_A, (c.PRICE_OUT - c.PRICE_IN)*100 as SPREAD_A, c.PROFIT as PROFIT_A,
  d.TIME_IN as TIME_IN_B, d.TICKET as TICKET_B, d.TYPE as TYPE_B, d.VOLUME as VOLUME_B, d.PRICE_IN as PRICE_IN_B, d.PRICE_OUT as PRICE_OUT_B, d.SWAP as SWAP_B, (d.PRICE_OUT - d.PRICE_IN)*100 as SPREAD_B, d.PROFIT as PROFIT_B,
  COALESCE(comp2.COMPENSATION, 0) as COMPENSATION,
  case when c.PROFIT is null then d.PROFIT + d.COMMISION + d.SWAP
  when c.PROFIT < 0 and d.PROFIT > 0 then (c.PROFIT + c.COMMISION + c.SWAP) + (d.PROFIT + d.SWAP) + COALESCE(comp2.COMPENSATION, 0)
  else c.PROFIT + c.COMMISION + c.SWAP + (d.PROFIT + d.SWAP) end as FINAL_PROFIT
from
(
  select *, UNIX_TIMESTAMP(TIME_IN) as ts
  from {table_name_a}
)as c
right join
(
  select *, UNIX_TIMESTAMP(TIME_IN) as ts
  from {table_name_b}
)as d
on abs(c.TICKET - d.TICKET) <= 30 or abs(c.ts - d.ts) <= 2*60
left join
(
  select UNIX_TIMESTAMP(TIME_IN) as ts, PROFIT as COMPENSATION, CAST(REGEXP_SUBSTR(COMMENT, '[0-9]+') AS UNSIGNED) as COMPENSATE_TRADE_ID
  from {table_comp_name}
  where COMMENT like '%compensation%'
) as comp2
on comp2.COMPENSATE_TRADE_ID = c.TICKET

'''.format(table_name_a = table_name_a, table_name_b = table_name_b, table_comp_name = table_comp_name)
cursor.execute(query)

115

In [ ]:
results = cursor.fetchall()
# Get the column names from the cursor description
column_names = [desc[0] for desc in cursor.description]

# Create a DataFrame from the query result and column names
df_result = pd.DataFrame(results, columns=column_names)
df_result.head(30)

,TIME_IN_A,TICKET_A,TYPE_A,VOLUME_A,PRICE_IN_A,PRICE_OUT_A,COMMISION_A,SWAP_A,SPREAD_A,PROFIT_A,...,TICKET_B,TYPE_B,VOLUME_B,PRICE_IN_B,PRICE_OUT_B,SWAP_B,SPREAD_B,PROFIT_B,COMPENSATION,FINAL_PROFIT
0,2023-06-01 04:54:02,9703557.0,0.0,1.2,1964.24,1958.24,-8.4,0.00,-600.0,-720.0,...,9703558,1,1.05,1963.87,1958.44,0.00,-543.0,570.15,218.52,60.27
1,2023-06-01 10:38:29,9718857.0,1.0,1.2,1955.82,1961.82,-8.4,0.00,600.0,-720.0,...,9718864,0,1.05,1956.05,1961.82,0.00,577.0,605.85,218.52,95.97
2,2023-06-01 14:48:21,9738372.0,0.0,1.2,1967.74,1961.74,-8.4,0.00,-600.0,-720.0,...,9738373,1,1.05,1967.42,1961.94,0.00,-548.0,575.40,218.52,65.52
3,2023-06-01 15:25:47,9744324.0,1.0,1.2,1960.75,1966.75,-8.4,0.00,600.0,-720.0,...,9744341,0,1.05,1960.80,1966.55,0.00,575.0,603.75,218.52,93.87
4,2023-06-01 16:51:13,9763031.0,1.0,1.2,1972.86,1978.86,-8.4,0.00,600.0,-720.0,...,9763032,0,1.05,1973.25,1978.86,0.00,561.0,589.05,218.52,79.17
5,2023-06-01 19:48:12,9782315.0,0.0,1.2,1979.01,1973.01,-8.4,-16.90,-600.0,-720.0,...,9782316,1,1.05,1978.73,1973.00,7.69,-573.0,601.65,223.59,87.63
6,2023-06-02 15:36:20,9801685.0,1.0,1.2,1975.06,1968.06,-8.4,0.00,-700.0,840.0,...,9801692,0,1.05,1975.23,1968.06,0.00,-717.0,-752.85,0.00,78.75
7,2023-06-05 03:57:40,9835460.0,0.0,1.6,1946.34,1940.34,-11.2,0.00,-600.0,-960.0,...,9835463,1,1.40,1945.94,1940.49,0.00,-545.0,763.00,291.36,83.16
8,2023-06-05 10:47:57,9849041.0,1.0,1.6,1939.59,1945.59,-11.2,0.00,600.0,-960.0,...,9849044,0,1.40,1939.77,1945.39,0.00,562.0,786.80,291.36,106.96
9,2023-06-05 13:29:41,9855130.0,0.0,1.6,1943.83,1950.83,-11.2,0.00,700.0,1120.0,...,9855131,1,1.40,1943.63,1951.03,0.00,740.0,-1036.00,0.00,72.80
10,2023-06-05 17:16:10,9874341.0,1.0,1.6,1959.78,1965.78,-11.2,11.71,600.0,-960.0,...,9874344,0,1.40,1959.94,1965.58,-19.71,564.0,789.60,287.85,98.25
11,2023-06-06 15:56:30,9889772.0,1.0,1.6,1963.01,1956.01,-11.2,0.00,-700.0,1120.0,...,9889773,0,1.40,1963.26,1955.81,0.00,-745.0,-1043.00,0.00,65.80
12,2023-06-06 16:55:04,9896327.0,0.0,1.6,1955.12,1962.12,-11.2,0.00,700.0,1120.0,...,9896336,1,1.40,1954.87,1962.32,0.00,745.0,-1043.00,0.00,65.80
13,2023-06-06 17:43:23,9901808.0,1.0,1.2,1958.61,1964.61,-8.4,0.00,600.0,-720.0,...,9901809,0,1.05,1958.95,1964.41,0.00,546.0,573.30,218.52,63.42
14,2023-06-07 05:55:26,9912187.0,1.0,1.6,1964.19,1957.19,-11.2,0.00,-700.0,1120.0,...,9912188,0,1.40,1964.46,1957.00,0.00,-746.0,-1044.40,0.00,64.40
15,2023-06-07 10:14:48,9922276.0,1.0,1.6,1955.94,1961.94,-11.2,0.00,600.0,-960.0,...,9922277,0,1.40,1956.21,1961.74,0.00,553.0,774.20,291.36,94.36
16,2023-06-07 12:09:37,9926019.0,1.0,1.6,1962.77,1968.77,-11.2,0.00,600.0,-960.0,...,9926021,0,1.40,1963.03,1968.57,0.00,554.0,775.60,291.36,95.76
17,2023-06-07 16:56:30,9952287.0,1.0,1.6,1969.38,1962.38,-11.2,0.00,-700.0,1120.0,...,9952134,0,1.40,1969.91,1962.38,0.00,-753.0,-1054.20,0.00,54.60
18,2023-06-07 17:25:50,9964471.0,0.0,1.2,1961.94,1955.94,-8.4,0.00,-600.0,-720.0,...,9964484,1,1.05,1961.55,1955.94,0.00,-561.0,589.05,218.52,79.17
19,2023-06-07 18:21:58,9973911.0,1.0,1.2,1956.59,1949.59,-8.4,0.00,-700.0,840.0,...,9973912,0,1.05,1956.90,1949.39,0.00,-751.0,-788.55,0.00,43.05
20,2023-06-08 05:16:56,9999416.0,0.0,1.6,1945.73,1952.73,-11.2,0.00,700.0,1120.0,...,9999417,1,1.40,1945.46,1952.93,0.00,747.0,-1045.80,0.00,63.00
21,2023-06-08 15:33:50,10016160.0,1.0,1.6,1952.05,1958.05,-11.2,0.00,600.0,-960.0,...,10016162,0,1.40,1952.33,1958.05,0.00,572.0,800.80,291.36,120.96
22,2023-06-08 15:43:11,10021702.0,1.0,1.6,1958.34,1964.34,-11.2,0.00,600.0,-960.0,...,10021708,0,1.40,1958.63,1964.34,0.00,571.0,799.40,291.36,119.56
23,2023-06-08 17:39:05,10047980.0,0.0,1.6,1967.48,1961.48,-11.2,-22.53,-600.0,-960.0,...,10047981,1,1.40,1967.23,1961.68,10.25,-555.0,777.00,298.12,91.64
24,2023-06-09 11:29:30,10054014.0,0.0,1.6,1961.80,1968.80,-11.2,0.00,700.0,1120.0,...,10054017,1,1.40,1961.60,1968.80,0.00,720.0,-1008.00,0.00,100.80
25,2023-06-09 15:50:14,10069333.0,0.0,1.6,1964.19,1958.19,-11.2,0.00,-600.0,-960.0,...,10069337,1,1.40,1963.96,1958.39,0.00,-557.0,779.80,291.36,99.96
26,2023-06-09 17:43:49,10094608.0,0.0,1.6,1965.67,1959.67,-11.2,0.00,-600.0,-960.0,...,10094609,1,1.40,1965.38,1959.87,10.25,-551.0,771.40,291.36,101.81
27,2023-06-12 03:11:29,10103455.0,0.0,1.6,1960.43,1954.43,-11.2,0.00,-600.0,-960.0,...,10103456,1,1.40,1960.19,1954.63,0.00,-556.0,778.40,291.36,98.56
28,2023-06-12 13:20:27,10127721.0,1.0,1.6,1965.94,1958.94,-11.2,0.00,-700.0,1120.0,...,10127723,0,1.40,1966.21,1958.94,0.00,-727.0,-1017.80,0.00,91.00
29,2023-06-12 16:51:28,10149684.0,1.0,1.6,1950.97,1956.97,-11.2,0.00,600.0,-960.0,...,10149719,0,1.40,1951.10,1956.71,0.00,561.0,785.40,291.36,105.56

In [ ]:
# Assuming you have a DataFrame named 'df' that you want to save as an Excel file
df_result.to_excel('gt_history_{account_a}_{formatted_date}.xlsx'.format(account_a = account_a, formatted_date = formatted_date), index=False)